.footer {
	background-color: $first-color-darken;
	color: $first-color-lighten;
	text-align: center;

	.footer__title {
		font-size: $h1-font-size;
		margin-bottom: $mb-2;
	}

	.footer__description {
		margin-bottom: $mb-2;
	}

	.footer__social {
		margin-bottom: 2rem;

		.footer__link {
			display: inline-flex;
			background-color: $first-color;
			color: $first-color-lighten;
			font-size: 1.1rem;
			border-radius: 50%;
			padding: 0.4rem;
			margin: 0 $mb-1;
			transition: 0.3s;

			&:hover {
				background-color: $first-color-lighten;
				color: $first-color;
			}
		}
	}
}
