.section {
	padding: 4rem 0 2rem;
}

.section-title {
	font-size: $h1-font-size;
	color: $first-color;
	margin-bottom: $mb-3;
	text-align: center;
}

.section-subtitle {
	display: block;
	font-size: $small-font-size;
	color: $first-color-darken;
	text-align: center;
	font-weight: $font-bold;
	margin-bottom: 0.25rem;
}
