.nav {
	height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 90%;
		height: 100vh;
		padding: 3rem;
		display: flex;
		align-items: center;
		background-color: $first-color;
		transition: 0.5s;

		.nav__close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			font-size: 2rem;
			color: $first-color-dark;
			cursor: pointer;
		}

		.nav__item {
			margin-bottom: $mb-4;

			.nav__link {
				font-size: 1rem;
				text-transform: uppercase;
				color: $first-color-lighten;
				font-weight: $font-bold;
				transition: 0.3s;

				&:hover {
					color: $text-color;
				}
			}

			.active {
				color: $text-color;
			}
		}
	}

	.show {
		left: 0;
	}

	.nav__toggle {
		color: $first-color-dark;
		font-size: 1.3rem;
		cursor: pointer;
	}

	.nav__logo {
		.logo__ja {
			font-family: $logo-ja;
			font-size: 1.25rem;
		}

		.color__primary {
			color: $first-color;
			font-size: 0.75rem;
		}

		.logo {
			font-size: 0.75rem;
		}
	}
}
